@model IEnumerable<JalgrattaEksamMVC.Models.Eksam>

@{
    ViewData["Title"] = "Slaalom";
}

<h1>Teooria</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slaalom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Eesnimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perenimi)
                </td>
                <td>
                    <a asp-action="PassFail" asp-route-id="@item.Id" asp-route-osa="slaalom" asp-route-tulemus="1">Õnnestus</a> |
                    <a asp-action="PassFail" asp-route-id="@item.Id" asp-route-osa="slaalom" asp-route-tulemus="2">Ebaõnnestus</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
